asgiref==3.3.4
Django==3.2.2
Pillow==8.2.0
pytz==2021.1
sqlparse==0.4.1
bleach~=3.3.0
django_heroku
gunicorn
dj-database-url
psycopg2-binary
boto3==1.17.97
django-storages==1.11.1
whitenoise==5.1.0
django-cors-headers==3.7.0
django-filter==2.4.0
requests~=2.26.0
django-recaptcha
captcha