{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<section class="page-section">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-envelope"></i></div>
            <div class="divider-custom-line"></div>
        </div>

            <div class="text-center text-secondary mb-0">
                <p>
                    Customer shopping experience is important to us. We do our best to deliver high quality porducts and services to our customers. Cost, customer satisfaction and efficiency are our main focus.
                </p>
                <p>
                    The company operates from Bradford and will cover most area of the North West of England. If you need help, please ring us or send us an Email or use our online-chat service.
                </p>
                <p>
                    Head office is open from 9am to 6pm Monday to Friday, and our team will be happy to advise on our products. You can also send us an email at <a href="mailto:autoclean@gmail.com">autoclean@gmail.com</a>
                </p>
            </div>

    </div>
</section>
{% endblock content %}