{% load static %}

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
<!--    有冲突-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--    有冲突-->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">


    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken')

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if (name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }

        var cart = JSON.parse(getCookie('cart'))

        if (cart == undefined) {
            cart = {}
            console.log('Cart Created!', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)

    </script>


</head>

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home/">BUTT&CO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="the_main collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--    大型菜单开始-->
            <li>
                <header class="header">
                    <div class="container">
                        <div class="row v-center">
                            <!-- menu start here -->
                            <div class="header-item item-center">
                                <div class="menu-overlay">
                                </div>
                                <nav class="menu">
                                    <ul class="menu-main">
                                        <li class="menu-item-has-children">
                                            <a href="#">products<i class="fa fa-angle-down"></i></a>
                                            <div class="sub-menu mega-menu mega-menu-column-4">
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=3">
                                                        <img src="{% static 'images/p1-5.png' %}" width="187"
                                                             alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#467DD0; color:#FFFFFF; padding-top:20px;">
                                                            CHEMICAL PRODUCTS</h4>
                                                    </a>
                                                </div>
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=4">
                                                        <img src="{% static 'images/p3.jpg' %}" alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#FC5745; color:#FFFFFF; padding-top:20px;">
                                                            AIR FRESHENERS</h4>
                                                    </a>
                                                </div>
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=5">
                                                        <img src="{% static 'images/p1-9.png' %}" alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#3EBFBD; color:#FFFFFF; padding-top:20px;">
                                                            COMPRESSION SPRAYERS</h4>
                                                    </a>
                                                </div>
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=6">
                                                        <img src="{% static 'images/p1-6.png' %}" alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#467DD0; color:#FFFFFF; padding-top:20px;">
                                                            H/P PUMP & PARTS</h4>
                                                    </a>
                                                </div>
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=7">
                                                        <img src="{% static 'images/p5.png' %}" alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#3EBFBD; color:#FFFFFF; padding-top:20px;">
                                                            VACUUM CLEANERS</h4>
                                                    </a>
                                                </div>
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=8">
                                                        <img src="{% static 'images/p1-7.png' %}" alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#467DD0; color:#FFFFFF; padding-top:20px;">
                                                            AEROSOL PRODUCTS</h4>
                                                    </a>
                                                </div>
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=9">
                                                        <img src="{% static 'images/p1.jpg' %}" alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#FC5745; color:#FFFFFF; padding-top:20px;">
                                                            VALETING ACCESSORIES</h4>
                                                    </a>
                                                </div>
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=10">
                                                        <img src="{% static 'images/p2.jpg' %}" alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#467DD0; color:#FFFFFF; padding-top:20px;">
                                                            MIRCOFIBRE CLOTHS</h4>
                                                    </a>
                                                </div>
                                                <div class="list-item text-center">
                                                    <a href="/store/?id=11">
                                                        <img src="{% static 'images/p1-8.png' %}" alt="new Product">
                                                        <h4 class="title"
                                                            style="height:55px; background:#9274CE; color:#FFFFFF; padding-top:20px;">
                                                            PIPE FIXING & FITTING</h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="the_v1">
                        <div class="sub-menu mega-menu mega-menu-column-4">
                            <div class="list-item text-center">
                                <a href="/store/?id=3">
                                    <h4 class="title"
                                        style="height:55px; background:#467DD0; color:#FFFFFF; padding-top:20px;">
                                        CHEMICAL PRODUCTS</h4>
                                </a>
                            </div>
                            <div class="list-item text-center">
                                <a href="/store/?id=4">
                                    <h4 class="title"
                                        style="height:55px; background:#FC5745; color:#FFFFFF; padding-top:20px;">
                                        AIR FRESHENERS</h4>
                                </a>
                            </div>
                            <div class="list-item text-center">
                                <a href="/store/?id=5">
                                    <h4 class="title"
                                        style="height:55px; background:#3EBFBD; color:#FFFFFF; padding-top:20px;">
                                        COMPRESSION SPRAYERS</h4>
                                </a>
                            </div>
                            <div class="list-item text-center">
                                <a href="/store/?id=6">
                                    <h4 class="title"
                                        style="height:55px; background:#467DD0; color:#FFFFFF; padding-top:20px;">
                                        H/P PUMP & PARTS</h4>
                                </a>
                            </div>
                            <div class="list-item text-center">
                                <a href="/store/?id=7">
                                    <h4 class="title"
                                        style="height:55px; background:#3EBFBD; color:#FFFFFF; padding-top:20px;">
                                        VACUUM CLEANERS</h4>
                                </a>
                            </div>
                            <div class="list-item text-center">
                                <a href="/store/?id=8">
                                    <h4 class="title"
                                        style="height:55px; background:#467DD0; color:#FFFFFF; padding-top:20px;">
                                        AEROSOL PRODUCTS</h4>
                                </a>
                            </div>
                            <div class="list-item text-center">
                                <a href="/store/?id=9">
                                    <h4 class="title"
                                        style="height:55px; background:#FC5745; color:#FFFFFF; padding-top:20px;">
                                        VALETING ACCESSORIES</h4>
                                </a>
                            </div>
                            <div class="list-item text-center">
                                <a href="/store/?id=10">
                                    <h4 class="title"
                                        style="height:55px; background:#467DD0; color:#FFFFFF; padding-top:20px;">
                                        MIRCOFIBRE CLOTHS</h4>
                                </a>
                            </div>
                            <div class="list-item text-center">
                                <a href="/store/?id=11">
                                    <h4 class="title"
                                        style="height:55px; background:#9274CE; color:#FFFFFF; padding-top:20px;">
                                        PIPE FIXING & FITTING</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
            </li>

<!--            大型菜单结束-->
            <li class="nav-item active">
                <a class="nav-link" href="/contact/">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about/">about</a>
            </li>
        </ul>
        <form class="the_v2 form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
        </form>
        <div class="the_v3 form-inline my-2 my-lg-0">
            {% if request.user.is_anonymous %}
            <a href="{% url 'login' %}" class="btn btn-warning">login</a>
            {% else %}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Hello, {{request.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'myorders' %}">My Account</a>
            </div>
            <a href="{% url 'logout' %}" class="btn btn-warning">lougout</a>
            {% endif %}

            <a href="{% url 'cart' %}">
                <img id="cart-icon" src="{% static 'images/cart.png' %}">
            </a>
            <p id="cart-total">{{cartItems}}</p>

        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

<script src="{% static 'js/jquery-1.7.1.min.js' %}" type="text/javascript"></script>
</nav>